# Task 3 : Create Title from Content

## Load Library

In [1]:
import csv,numpy,pandas,nltk
from nltk import sent_tokenize, word_tokenize, pos_tag

from rake_nltk import Rake

## Load Data

In [2]:
#Baca data CSV dengan pandas
df = pandas.read_csv('../data/ds_asg_data.csv')

df.head()

,article_id,article_topic,article_content
0,93205794,Internasional,Kepolisian Inggris tengah memburu pelaku yang...
1,93186698,Ekonomi,Seluruh layanan transaksi di jalan tol akan m...
2,93191463,Teknologi,"\nHari ini, Rabu (23/8), ternyata menjadi har..."
3,93219292,Ekonomi,Saat ini Indonesia hanya memiliki cadangan ba...
4,343106,Hiburan,"Hari ini, Selasa (1/8), pedangdut Ridho Rhoma..."

In [3]:
#View berdasar topic
groupby= df.groupby('article_topic').size()
print (groupby)

article_topic
Bisnis             25
Bojonegoro        260
Ekonomi          1762
Haji             1497
Health            131
Hiburan          1466
Horor              50
Hukum              85
Internasional     741
Jakarta            12
K-Pop              61
KPK                37
Kesehatan         195
Keuangan           14
Lifestyle         572
MotoGP             35
Obat-obatan        58
Otomotif          174
Pendidikan         70
Personal           81
Pilgub Jatim       25
Politik           104
Regional           35
Sains             174
Sejarah            70
Sepak Bola       1184
Sports            435
Teknologi         571
Travel             76
dtype: int64

View berdasarkan topik dan didapatkan 29 topik dengan topik Ekonomi mempunyai proporsi paling banyak, dan dapat dilihat data tersebut tidak proporsional

Dicek dahulu apakah data terdapat missing value

In [4]:
#Cek data dan normalisasi
#cek bila ada yang kosong
cek_bentuk= df['article_content'].shape
cek_null=df.isnull()
cek_jumlah_null=df.isnull().sum()

print (cek_bentuk)
print (cek_null)
print (cek_jumlah_null)

(10000,)
      article_id  article_topic  article_content
0          False          False            False
1          False          False            False
2          False          False            False
3          False          False            False
4          False          False            False
5          False          False            False
6          False          False            False
7          False          False            False
8          False          False            False
9          False          False            False
10         False          False            False
11         False          False            False
12         False          False            False
13         False          False            False
14         False          False            False
15         False          False            False
16         False          False            False
17         False          False            False
18         False          False            False
19         False          False            False
20         False          False            False
21         False          False            False
22         False          False            False
23         False          False            False
24         False          False            False
25         False          False            False
26         False          False            False
27         False          False            False
28         False          False            False
29         False          False            False
...          ...            ...              ...
9970       False          False            False
9971       False          False            False
9972       False          False            False
9973       False          False            False
9974       False          False            False
9975       False          False            False
9976       False          False            False
9977       False          False            False
9978       False          False            False
9979       False          False            False
9980       False          False            False
9981       False          False            False
9982       False          False            False
9983       False          False            False
9984       False          False            False
9985       False          False            False
9986       False          False            False
9987       False          False            False
9988       False          False            False
9989       False          False            False
9990       False          False            False
9991       False          False            False
9992       False          False            False
9993       False          False            False
9994       False          False            False
9995       False          False            False
9996       False          False            False
9997       False          False            False
9998       False          False            False
9999       False          False            False

[10000 rows x 3 columns]
article_id          0
article_topic       0
article_content    36
dtype: int64

Setelah cek data apakah ada data yang null atau tidak, karena ada data yang null/missing value maka perlu dinormalisasi terlebih dahulu.

Kita hapus data yang terdapat missing value

In [5]:
#Drop/Hapus data yang kosong
modifiedData = df.dropna()

cek_bentuk= modifiedData['article_content'].shape
cek_null=modifiedData.isnull()
cek_jumlah_null=modifiedData.isnull().sum()

#Save Data yang sudah dimodifikasi ->opsional
modifiedData.to_csv('modifiedData.csv',index=False)

print (cek_bentuk)
print (cek_null)
print (cek_jumlah_null)

(9964,)
      article_id  article_topic  article_content
0          False          False            False
1          False          False            False
2          False          False            False
3          False          False            False
4          False          False            False
5          False          False            False
6          False          False            False
7          False          False            False
8          False          False            False
9          False          False            False
10         False          False            False
11         False          False            False
12         False          False            False
13         False          False            False
14         False          False            False
15         False          False            False
16         False          False            False
17         False          False            False
18         False          False            False
19         False          False            False
20         False          False            False
21         False          False            False
22         False          False            False
23         False          False            False
24         False          False            False
25         False          False            False
26         False          False            False
27         False          False            False
28         False          False            False
29         False          False            False
...          ...            ...              ...
9970       False          False            False
9971       False          False            False
9972       False          False            False
9973       False          False            False
9974       False          False            False
9975       False          False            False
9976       False          False            False
9977       False          False            False
9978       False          False            False
9979       False          False            False
9980       False          False            False
9981       False          False            False
9982       False          False            False
9983       False          False            False
9984       False          False            False
9985       False          False            False
9986       False          False            False
9987       False          False            False
9988       False          False            False
9989       False          False            False
9990       False          False            False
9991       False          False            False
9992       False          False            False
9993       False          False            False
9994       False          False            False
9995       False          False            False
9996       False          False            False
9997       False          False            False
9998       False          False            False
9999       False          False            False

[9964 rows x 3 columns]
article_id         0
article_topic      0
article_content    0
dtype: int64

Kita Hapus data yang missing value, maka 36 data yang kosong tersebut dihilangkan. Lalu kita load lagi data yang telah dinormalisasi.

In [6]:
#Baca data CSV dengan pandas
df = pandas.read_csv('modifiedData.csv')
Id=df['article_id']
Con= df['article_content']
Topic = df['article_topic']

## Pembuatan Judul Dengan ALgoritma RAKE(Rapid Automatic Keyword Extraction)

Setelah itu dilakukan tahap pembuatan judul dengan algoritma rake dimana Rake mengoptimalkan kata kunci yang panjang, yang memberikan frasa akurat

In [7]:
#Pembuatan Judul dengan Rake dan didapatkan frasa yang berisi kata-kata penting dari content

r = Rake()

r.extract_keywords_from_text(Con[0])

Judul1=r.get_ranked_phrases()[0] # Dapatkan frasa judul pertama
Judul2=r.get_ranked_phrases()[1] # Dapatkan frasa judul kedua

print("Judul 1 =",Judul1)
print("Judul 2 =",Judul2)

Judul 1 = penyelidikan juga dilakukan oleh komando pemberantasan terorisme kepolisian london dan badan keamanan dalam negeri inggris mi5
Judul 2 = 52 orang tewas dalam ledakan bunuh diri di tiga kereta bawah tanah london dan sebuah bus

## Evaluasi

Rake adalah library ekstraksi kata kunci yang berfokus pada pencarian frase multi-kata yang mengandung kata-kata yang sering muncul. Kelebihan Rake adalah simple dan mudah dalam penggunaan, sedangkan kelemahannya adalah akurasi yang terbatas, perlunya konfigurasi parameter untuk mendapat hasil maksimal.

## Future Works
- Mencoba metode seperti Text Rank lain apakah bisa lebih bagus dengan metode tersebut.
- Mencoba menambah proses yang diperlukan pada preprocessing data seperti stemming, dan lain sebagainya